@model abvancedEshop.Models.Chechout

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chechout</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChechoutFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChechoutFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChechoutLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChechoutLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChechoutEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChechoutEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChechoutPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChechoutPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChechoutCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChechoutCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChechoutCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChechoutCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZIpCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZIpCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateAnAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateAnAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipToDifferentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipToDifferentAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CheckoutId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
